<%- layout('layout') %>
<div>
    <h3><%- title %></h3>
    <hr />

    <form method="post" action="/forms/events" class="col-xs-6">
        <% if (error != "") { %>
            <div class="alert alert-danger" role="alert">
                <% for (var i=0; i < error.length ; i++ ) { %>
                    <%= error[i].msg %><br />
                <% } %>
            </div>
        <% } %>
        <div class="form-group">
            <label>Activity</label>
            <select name="Activity" class="form-control">
                <% for (var i=0; i < activities.length ; i++) { %>
                    <option value="<%- activities[i].Activity %>"><%- activities[i].Activity %></option>
                <% } %>
            </select>
        </div>
        
        <div class="form-group">
            <label for="FromDate">From: Date(Format: yyyy-mm-dd)</label>
            <input name="FromDate" placeholder="yyyy-mm-dd" class="form-control" />
            <label for="FromTime">From: Time(Format: hh:mm)</label>
            <input name="FromTime" placeholder="hh:mm" class="form-control" />
        </div>
        <div class="form-group">
            <label for="ToDate">To: Date(Format: yyyy-mm-dd)</label>
            <input name="ToDate" placeholder="yyyy-mm-dd" class="form-control" />
            <label for="ToTime">To: Time(Format: hh:mm)</label>
            <input name="ToTime" placeholder="hh:mm" class="form-control" />
        </div>

        <div class="form-group">
            <label for="isActive">isActive:</label>
            <label class="radio-inline">
                <input type="radio" name="isActive" value="Yes" checked />Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="isActive" value="No" />No
            </label>
        </div>
        <input type="submit" value="Add Event" class="btn btn-success" />
        <a href="/forms/events" class="btn btn-success">Cancel</a>
    </form>
</div>