<%- layout('layout.ejs') %>
<div>
    <h3><%- title %></h3>

    <hr />
        <% if (success_msg != "") { %>
        <div class="alert alert-success" role="alert">
            <%= success_msg %><br />
        </div>
    <% } %>
    
    <p><a href="/forms/events/create" class="btn btn-success">Add a event</a></p>
    <table class="table table-condensed">
    <thead>
        <tr>
            <th>Activity</th>
            <th>From</th>
            <th>To</th>
            <th>isActive</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
            <% if(i > 0) { %>
                <% if(data[i].From.getDate() != data[i-1].From.getDate()) { %>
                <td colspan="5" class="success" style="text-align: center">Date: <%= data[i].From.getDate() %></td>
                <% } %>
            <% }else { %>
                <td colspan="5" class="success" style="text-align: center">Date: <%= data[i].From.getDate() %></td>
            <% } %>
            </tr>
            <tr>
                <td><%= data[i].Activity %></td>
                <td><%= data[i].From %></td>
                <td><%= data[i].To %></td>
                <td><%= data[i].isActive %></td>
                <td>
                    <a href="/forms/events/edit/<%= data[i]._id %>" class="btn btn-primary btn-small">edit</a>
                    <a href="/forms/events/delete/<%= data[i]._id %>" class="btn btn-primary btn-small">del</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>